:root {
    --primary-color: #e27d60;
    --primary-color-dark: #d2765a;
    --primary-color-light: #f38869;
    --primary-color-extra-light: #ffb19a;
    --secondary-color: #41b3a3;
    --tertiary-color: #85cdcb;
    --quaternary-color: #c38d9e;

    --dark-gray: #1a1a1d;
    --warning-yellow-light: #ffecb8;
}

body {
  background-color: var(--secondary-color);
  color: white;
  margin: 0;
}

.pushdown {
  margin: 2em 0;
}

.pushaway {
  margin: 0 1em;
}

.content {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-content {
  display: flex;
  text-align: center;
  align-content: space-between;
  flex-direction: column;
  margin: 1rm;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: none;
  color: white;
  background-color: var(--primary-color-light);
  padding: 0.75em 2em;
  border-radius: 16px 16px 0;
  font-size: 20px;
  font-weight: bold;
}

.btn.upload-btn-wrapper {
  padding: 1em 3em;
}

.txt {
  border: none;
  color: black;
  background-color: white;
  padding: 0.75em 1em;
  border-radius: 0 16px 16px 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.container {
  padding: 1em;
}

.inline-container {
  display: inline-flex;
  padding: 1em;
}

.main-container {
  padding: 1em;
}


.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper:hover {
  background-color: var(--primary-color);
}

.navbar {
  background: var(--primary-color-light);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu_show_hide {
	position:absolute;
	left:-999em;
}

#menu {
	list-style:none;
	text-align:center;
	padding:0.25em 0;
	margin-bottom:1em;
}

#menu li {
	display:inline;
}

#menu a {
	display:inline-block;
	padding:0.25em 1em;
	text-decoration:none;
}

@media (max-width:38em) {
	body {
		padding:0;
	}
	#menu {
		display:none;
		overflow:hidden; /* wrap floats and margins */
		padding:0.25em;
	}
	#menu li {
		float:left;
		width:50%;
	}
	#menu a {
		display:block;
		padding:0.75em;
		margin:0.25em;
	}
	#menu_show_hide + label {
		display:block;
		padding:1em;
		margin-bottom:1em;
		text-align:center;
		font-weight:bold;
	}
  #menu_show_hide:checked + label,
	#menu_show_hide + label:active,
	#menu_show_hide + label:focus,
	#menu_show_hide + label:hover {
		background: var(--primary-color);
	}
	#menu_show_hide + label:before {
		content: "\2630";
	}
	#menu_show_hide:checked + label {
		margin:0;
	}
	#menu_show_hide:checked + label:before {
		content: "\2630";
	}
	#menu_show_hide:checked ~ #menu {
		display:block;
	}
}

.navbrand {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}

#menu {
  text-align: center;
}

.navbar > .navbrand {
  padding: 0.25em 0.5em;
}


.navbrand > a { 
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#menu > li > a:hover {
  background-color: var(--primary-color);
}

.bk-tab {
  color: white;
}

.bk-tab:hover {
  color: white;
  background-color: var(--primary-color-light);
}

.bk-tab .bk-active {
  background-color: var(--primary-color-light)
}

.bk-root .bk-tabs-header.bk-above .bk-headers-wrapper {
  border: none;
}

.bk-root .bk-tabs-header.bk-above .bk-tab, 
.bk-root .bk-tabs-header .bk-tab.bk-active {
  border-color: transparent;
  border-radius: 8px 8px 0;
}

.bk-root .bk-btn-default[disabled],
.bk-root .bk-btn-default,
.bk-root .bk-btn-default:hover {
  border-color: transparent;
  border-radius: 8px 8px 8px;
}

.bk-root .bk-tabs-header .bk-tab:hover {
  background-color: var(--primary-color);
}

.bk-root .bk-tabs-header .bk-tab.bk-active {
  color: white;
  background-color: var(--primary-color-light);
}

.alert {
  z-index: 9999; 
  position: absolute; 
  padding: 1em;
  border: 1px solid;
  border-radius: 8px 8px 8px 0;
  color: var(--dark-gray);
  right: 1%;
  top: 1%;
  font-size: 20px;
  font-weight: bold;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc
}


.close {
  border: none;
  background-color: transparent;
  color: var(--dark-gray);
  cursor: pointer;
  font-size: 20px;
}


.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: var(--primary-color-light);
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 3px solid transparent;
    border-radius: 8px 8px 0;
}


/* .radio-toolbar input[type="radio"]:focus + label { */
/*     border: 2px dashed #444; */
/* } */

.radio-toolbar input[type="radio"]:checked + label {
    background-color: var(--primary-color-light);
    border-color: var(--primary-color-extra-light);
}


@media only screen and (min-width: 1200px) {
  .main-container {
    padding: 2.5em 5em;
  }
}

@media only screen and (max-width: 800px) {
  .pushaway {
    margin: 0;
  }
  .radio-toolbar > .pushaway > label {
    border-radius: 0;
  }
}
